.resortLink-active .list{
    color: #FFBB70;
    font-family: 'Bona Nova';
    font-size: 30px;
    text-align: center;
    /* margin: auto; */
    text-decoration: none;
    justify-self: center;
    justify-content: center;
}
.resortLink-active .list::after{
    bottom: 15px;
    content: "";
    display: block;
    height: 1.2px;
    left: 0.6em;
    position: absolute;
    background: #FFBB70;
    opacity: 0.9;
    transition: width 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 1.5rem;
}

.resortLink .list{
    font-family: 'Bona Nova';
    font-size: 30px;
}
.resortLink .list:hover{
    color:#FFBB70
}
.resortLink .list::after{
    bottom: 15px;
    content: "";
    display: block;
    height: 1.2px;
    left: 0.8em;
    position: absolute;
    background: #FFBB70;
    opacity: 0.6;
    transition: width 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 0rem;
}
.resortLink .list:hover::after{
    opacity: 0.9;
    width: 1.5rem;
    color: #FFBB70;
}

.ResortPartsLink {
    text-decoration: none;
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    color: #3D2521;
    flex: none;
    display: inline-block;
    position: relative;
}

.ResortPartsLink:after {
    content: '';
    position: absolute;
    width: 30px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFBB70;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.ResortPartsLink:hover {
    color: #FFBB70;
}

.ResortPartsLink {
}

.ResortPartsLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 600px) {

    .resortLink .list{font-size: 24px;}
    .resortLink-active .list{font-size: 24px;}
    .ResortPartsLink {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .ResortPartsLink {
        font-size: 18px;
        line-height: 28px;
    }
}