:root{
  --secondary: #3D2521;
  --main: #FFE2D8;
  --highlight: #FFBB70;
  --highlight2: #FF867C;
  --starColor: #F6B500;
  --text: #484848;
  --lightSecondary: #9E837D;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  padding-bottom: 50vh;
  margin-bottom: 0;
}